body {
    margin: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: center;
    background-color: #1e1e7b;
    color: #ffffff
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width:100%;
}

h {
    font-family: 'Crafty Girls', sans-serif;
    text-align: center;
    font-size: 1.75vw;
    color:#1e1e7b;
}

h1 {
    font-family: 'Crafty Girls';
    font-style: italic;
    font-size: 74px;
    font-size: 6vw;
    margin-top: 20px;
    margin-bottom: 0px;
    text-align: center;
}

h2 {
    font-family: 'Crafty Girls', sans-serif;
    text-align: center;
    font-size: 1.75vw;
}

h3 {
    font-family: 'Crafty Girls';
    font-style: italic;
    font-size: 5vw;
    margin-top: 0px;
    margin-bottom: 10px;
    text-align: center;
}

nav {
    width: 100%;
    font-family: 'Crafty Girls';
    font-style: italic;
    font-size: 2vw;
    background-color: black;
    color:white
}

form {
   float: left;
    width: 100%;
}



table {
    display: block;
    overflow: auto;
    white-space: nowrap;
    font-size: 1.25vw;
}

label, button, #error{
    font-family: 
    font-size: 18px;
    font-size: 1.75vw;
}

label {
    margin-right: 30px;
}

button:hover {
    border: 5px solid ;
    background-color: #1e1e7b;
    color: yellow;
}

footer{
  font-size: 3vw;
  
}

#error {
    display: none;
    color: black;
    margin-bottom: 0px;
    padding: 0px;
    width: 50%;
    background: yellow;
    text-align: center;
}

.container {
    display: flex;
    width: 100%;
}

.menuBar {
    display: flex;
    flex-direction: column;
    height: 17%;
    width: 100%;
    text-align: center;
    margin-top: 6px;
    margin-bottom: 12px;
    justify-content: left;}

.tabsOnTop a {
    display: inline;
    margin-left: 20px;
}

.tabsOnTop a:hover {
    color: pink;
}

#html-booking {
    display: block;
    width: 80%;
    background-color: white;
    color: black
}

#left-form{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

}

#thankyou {
    display: none;
    flex-direction: column;
    height: 50%;
    align-items: center;
}

#booking-table {
    font-size: 0.5vw;
    display: none;
    width: 70%;
    text-align: center;
    flex-direction: column;
    align-items: center;
    background:white
}

#update-html-booking {
    display: none;
    width: 70%;
}

.html-form-details {
    margin-top: 10px;
    margin-bottom: 20px;
}

.html-form-details .text-input {
    display: flex;
    flex-direction: column;
}

.form-label {
    font-size: 25px;
    font-size: 2vw;
    margin-top: 18px;
    margin-bottom: 7px;
}

[type="text"], textarea {
    width: 95%;
    padding: 12px;
    margin-top: 10px;
    border: 1px solid #ccc;
    border-radius: 2px;
    resize: vertical;
    font-family: 
    font-size: 18px;
    font-size: 1.75vw;
}

#submit-btn, #update-form-btns {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 35px;
}


#new-booking-button {
    background-color: black;
    color: white;
    border: 4px solid white;
    align-self: center;
}

table button {
    padding: 8px 9px;
    width: 100%;
}
<head>
<style>
table {
  width: 100%;
}

th, td {
  text-align: left;
  padding: 7px;
}

th {
  background-color: #1e1e7b;
  color: white;
}

<style type="text/css">
.form-style-6{
	font: 95% Arial, Helvetica, sans-serif;
	max-width: 400px;
	margin: 10px auto;
	padding: 16px;
	background: #F7F7F7;
}
.form-style-6 h1{
	background: #43D1AF;
	padding: 20px 0;
	font-size: 140%;
	font-weight: 300;
	text-align: center;
	color: #fff;
	margin: -16px -16px 16px -16px;
}
.form-style-6 input[type="text"],
.form-style-6 input[type="date"],
.form-style-6 input[type="datetime"],
.form-style-6 input[type="email"],
.form-style-6 input[type="number"],
.form-style-6 input[type="search"],
.form-style-6 input[type="time"],
.form-style-6 input[type="url"],
.form-style-6 textarea,
.form-style-6 select 
{
	-webkit-transition: all 0.30s ease-in-out;
	-moz-transition: all 0.30s ease-in-out;
	-ms-transition: all 0.30s ease-in-out;
	-o-transition: all 0.30s ease-in-out;
	outline: none;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	width: 100%;
	background: #fff;
	margin-bottom: 4%;
	border: 1px solid #ccc;
	padding: 3%;
	color: #555;
	font: 95% Arial, Helvetica, sans-serif;
}
.form-style-6 input[type="text"]:focus,
.form-style-6 input[type="date"]:focus,
.form-style-6 input[type="datetime"]:focus,
.form-style-6 input[type="email"]:focus,
.form-style-6 input[type="number"]:focus,
.form-style-6 input[type="search"]:focus,
.form-style-6 input[type="time"]:focus,
.form-style-6 input[type="url"]:focus,
.form-style-6 textarea:focus,
.form-style-6 select:focus
{
	box-shadow: 0 0 5px #43D1AF;
	padding: 3%;
	border: 1px solid #43D1AF;
}

.form-style-6 input[type="submit"],
.form-style-6 input[type="button"]{
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	width: 100%;
	padding: 3%;
	background: #43D1AF;
	border-bottom: 2px solid #30C29E;
	border-top-style: none;
	border-right-style: none;
	border-left-style: none;	
	color: #fff;
}
.form-style-6 input[type="submit"]:hover,
.form-style-6 input[type="button"]:hover{
	background: #2EBC99;
}

.wrapper {
  display: flex;
  align-items: center;
  flex-direction: column; 
  justify-content: center;
  width: 100%;
  min-height: 100%;
  padding: 20px;
}

#formContent {
  -webkit-border-radius: 10px 10px 10px 10px;
  border-radius: 10px 10px 10px 10px;
  background: #fff;
  padding: 30px;
  width: 90%;
  max-width: 450px;
  position: relative;
  padding: 0px;
  -webkit-box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
  box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
  text-align: center;
}
/* ANIMATIONS */

/* Simple CSS3 Fade-in-down Animation */
.fadeInDown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

/* Simple CSS3 Fade-in Animation */
@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

.fadeIn {
  opacity:0;
  -webkit-animation:fadeIn ease-in 1;
  -moz-animation:fadeIn ease-in 1;
  animation:fadeIn ease-in 1;

  -webkit-animation-fill-mode:forwards;
  -moz-animation-fill-mode:forwards;
  animation-fill-mode:forwards;

  -webkit-animation-duration:1s;
  -moz-animation-duration:1s;
  animation-duration:1s;
}

.fadeIn.first {
  -webkit-animation-delay: 0.4s;
  -moz-animation-delay: 0.4s;
  animation-delay: 0.4s;
}

.fadeIn.second {
  -webkit-animation-delay: 0.6s;
  -moz-animation-delay: 0.6s;
  animation-delay: 0.6s;
}

.fadeIn.third {
  -webkit-animation-delay: 0.8s;
  -moz-animation-delay: 0.8s;
  animation-delay: 0.8s;
}

.fadeIn.fourth {
  -webkit-animation-delay: 1s;
  -moz-animation-delay: 1s;
  animation-delay: 1s;
}

/* Simple CSS3 Fade-in Animation */
.underlineHover:after {
  display: block;
  left: 0;
  bottom: -10px;
  width: 0;
  height: 2px;
  background-color: #56baed;
  content: "";
  transition: width 0.2s;
}

.underlineHover:hover {
  color: #0d0d0d;
}

.underlineHover:hover:after{
  width: 100%;
}

/* OTHERS */

*:focus {
    outline: none;
} 

#icon {
  width:60%;
}

* {
  box-sizing: border-box;
}
</style>
</style>
</head>

